<section class="page-sec page-sec--achievements">
  <div class="container">
    <div class="achievements sec">
      <div class="achievements__content sec__content">
        <div class="achievements__header sec__header">
          <h2 class="achievements__title sec__title">
            <span class="achievements__title-highlight">Helping a local</span>
            <span class="achievements__title-primary">business reinvent itself</span>
          </h2>
          <p class="achievements__subtitle sec__subtitle">We reached here with our hard work and dedication</p>
        </div>
        
        <div class="achievements__stats">
          <div class="achievements__stats-grid">
            <div class="achievements__stat">
              <div class="achievements__stat-icon">
                <img src="/images/community/Membership-Organisations.svg" alt="Members icon" class="achievements__icon" />
              </div>
              <div class="achievements__stat-content">
                <div class="achievements__stat-number">2,245,341</div>
                <div class="achievements__stat-label">Members</div>
              </div>
            </div>
            
            <div class="achievements__stat">
              <div class="achievements__stat-icon">
                <img src="/images/community/Clubs-And-Groups.svg" alt="Clubs icon" class="achievements__icon" />
              </div>
              <div class="achievements__stat-content">
                <div class="achievements__stat-number">46,328</div>
                <div class="achievements__stat-label">Clubs</div>
              </div>
            </div>
            
            <div class="achievements__stat">
              <div class="achievements__stat-icon">
                <img src="/images/community/National-Associations.svg" alt="Event Bookings icon" class="achievements__icon" />
              </div>
              <div class="achievements__stat-content">
                <div class="achievements__stat-number">828,867</div>
                <div class="achievements__stat-label">Event Bookings</div>
              </div>
            </div>
            
            <div class="achievements__stat">
              <div class="achievements__stat-icon">
                <img src="/icons/24/User Interface/Document.svg" alt="Payments icon" class="achievements__icon" />
              </div>
              <div class="achievements__stat-content">
                <div class="achievements__stat-number">1,926,436</div>
                <div class="achievements__stat-label">Payments</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
