---
// Testimonial component with responsive design
---

<section class="page-sec page-sec--testimonial">
  <div class="container">
    <div class="testimonial sec">
      <div class="testimonial__content sec__content">
        <div class="testimonial__text">
          <h2 class="testimonial__title sec__title">What Our Customers Say</h2>
          <p class="testimonial__subtitle">Discover why businesses choose us for their digital transformation journey</p>
          
          <div class="testimonial__quote">
            <blockquote>
              "Working with this team has been an absolute game-changer for our business. The level of expertise and attention to detail they bring to every project is unmatched. Our digital presence has never been stronger."
            </blockquote>
            <div class="testimonial__author">
              <img src="/images/customers/customers-main-img.png" alt="Customer testimonial" class="testimonial__author-image">
              <div class="testimonial__author-info">
                <h4 class="testimonial__author-name">Sarah Johnson</h4>
                <p class="testimonial__author-title">CEO, TechCorp Solutions</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="testimonial__clients">
          <h3 class="testimonial__clients-title">Trusted by Industry Leaders</h3>
          <div class="testimonial__logos">
            <img src="/images/clients/logo1.svg" alt="Client logo 1" class="testimonial__logo">
            <img src="/images/clients/logo2.svg" alt="Client logo 2" class="testimonial__logo">
            <img src="/images/clients/logo3.svg" alt="Client logo 3" class="testimonial__logo">
            <img src="/images/clients/logo4.svg" alt="Client logo 4" class="testimonial__logo">
            <img src="/images/clients/logo5.svg" alt="Client logo 5" class="testimonial__logo">
            <img src="/images/clients/logo6.svg" alt="Client logo 6" class="testimonial__logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>