<section class="page-sec page-sec--example-clients">
  <div class="container">
    <div class="example-clients sec">
      <div class="example-clients__header sec__header">
        <h2 class="example-clients__title sec__title">Our Clients</h2>
        <p class="example-clients__subtitle">We have been working with some Fortune 500+ clients</p>
      </div>
      
      <div class="example-clients__content sec__content">
        <div class="example-clients__logo-grid">
          <div class="example-clients__logo">
            <img src="/images/clients/logo1.svg" alt="Client Logo 1" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo2.svg" alt="Client Logo 2" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo3.svg" alt="Client Logo 3" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo4.svg" alt="Client Logo 4" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo5.svg" alt="Client Logo 5" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo6.svg" alt="Client Logo 6" class="example-clients__logo-image" />
          </div>
          <div class="example-clients__logo">
            <img src="/images/clients/logo7.svg" alt="Client Logo 7" class="example-clients__logo-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>