<section class="page-sec page-sec--example-count-down">
  <div class="container">
    <div class="example-count-down sec">
      <div class="example-count-down__header sec__header">
        <h2 class="heading-h2 example-count-down__title sec__title">Countdown to Special Event</h2>
        <div>
          <label for="date">Select end date:</label>
          <input type="date" id="date" name="date">
        </div>
      </div>
      
      <div class="example-count-down__content sec__content">
        <div class="counter-wrapper" data-count-down-to="2024-12-31">
          <div class="numbers-holder">
            <div class="numbers" data-days>00</div>
            <span>Days</span>
          </div>
          <div class="numbers-holder">
            <div class="numbers" data-hours>00</div>
            <span>Hours</span>
          </div>
          <div class="numbers-holder">
            <div class="numbers" data-minutes>00</div>
            <span>Minutes</span>
          </div>
          <div class="numbers-holder">
            <div class="numbers" data-seconds>00</div>
            <span>Seconds</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
