
<section class="page-sec page-sec--example-slider">
  <div class="container">
    <div class="example-slider sec">
      <div class="example-slider__header sec__header">
        <h2 class="heading-h2 example-slider__title sec__title">Beautiful Image Slider</h2>
        <p class="example-slider__subtitle">Smooth, responsive image gallery with elegant navigation</p>
      </div>
      
      <div class="example-slider__content sec__content">
        <div class="swiper example-slider__swiper js__example-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="example-slider__slide">
                <img src="/images/test-image-1.jpg" alt="Beautiful landscape" class="example-slider__slide-image" />
                <div class="example-slider__slide-overlay">
                  <h4 class="example-slider__slide-title">Stunning Landscape</h4>
                  <p class="example-slider__slide-description">Discover the beauty of nature</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="example-slider__slide">
                <img src="/images/test-image-2.jpg" alt="Urban architecture" class="example-slider__slide-image" />
                <div class="example-slider__slide-overlay">
                  <h4 class="example-slider__slide-title">Modern Architecture</h4>
                  <p class="example-slider__slide-description">Contemporary design excellence</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="example-slider__slide">
                <img src="/images/test-image-3.jpg" alt="Natural beauty" class="example-slider__slide-image" />
                <div class="example-slider__slide-overlay">
                  <h4 class="example-slider__slide-title">Natural Beauty</h4>
                  <p class="example-slider__slide-description">The wonders of the natural world</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="example-slider__slide">
                <img src="/images/test-image-4.jpg" alt="Scenic view" class="example-slider__slide-image" />
                <div class="example-slider__slide-overlay">
                  <h4 class="example-slider__slide-title">Scenic Views</h4>
                  <p class="example-slider__slide-description">Breathtaking panoramic vistas</p>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Navigation arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          
          <!-- Pagination dots -->
          <div class="swiper-pagination"></div>
          
          <!-- Slide counter -->
          <div class="example-slider__counter">
            <span class="example-slider__counter-current">1</span>
            <span class="example-slider__counter-separator">/</span>
            <span class="example-slider__counter-total">4</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 